@page  "/Servico/CadastrarServico"
@using System.Net.Http
@inject HttpClient Http
@inject NavigationManager NavigationManager

<div class="card m-3">
    <h4 class="card-header">Cadastro Servico</h4>
    <div class="card-body">
        <EditForm Model="@Servico" OnValidSubmit="HandleValidSubmit" @onreset="HandleReset">
            <DataAnnotationsValidator />

            <div class="form-row">
                <div class="form-group col">
                    <label>Descrição</label>
                    <InputText @bind-Value="Servico.Descricao" class="form-control" />
                    <ValidationMessage For="@(() => Servico.Descricao)" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label>Código funcionário</label>
                    <InputSelect @bind-Value="Servico.FuncionarioId" class="form-control">
                        <option value="0">Selecione o funcionario</option>
                        @foreach (var funcionario in funcionarioList)
                        {
                    <option value="@funcionario.Id">@funcionario.Nome</option>                    }
                    </InputSelect>
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col">
                    <label>Código Cliente</label>
                    <InputSelect @bind-Value="Servico.ClienteId" class="form-control">
                        <option value="0">Selecione o cliente</option>
                        @foreach (var cliente in clienteList)
                        {
                    <option value="@cliente.Id">@cliente.Nome</option>}
                    </InputSelect>
                </div>
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary mr-1">Salvar</button>
                <button type="reset" class="btn btn-secondary">Cancel</button>
            </div>
        </EditForm>
    </div>
</div>

@code { private ServicoDto Servico = new ServicoDto();
    private EditContext editContext { get; set; }
    private List<Funcionario> funcionarioList = new List<Funcionario>();
    private List<Cliente> clienteList = new List<Cliente>();
    private PetshopOA.Shared.FuncionarioDto funcionarioDto = new PetshopOA.Shared.FuncionarioDto();

    private async Task HandleValidSubmit()
    {
        var teste = await Http.PostAsJsonAsync("/api/Servicoes", Servico);
        NavigationManager.NavigateTo("/Servico/List");

    }

    private void HandleReset()
    {
        Servico = new ServicoDto();
        editContext = new EditContext(Servico);
    }

    protected override async Task OnInitializedAsync()
    {
        var funcionario = await Http.GetFromJsonAsync<List<Funcionario>>("/api/Funcionarios");
        foreach (var item in funcionario)
        {
            funcionarioList.Add(item);
        }

        var cliente = await Http.GetFromJsonAsync<List<Cliente>>("/api/Clientes");
        foreach (var item in cliente)
        {
            clienteList.Add(item);
        }
    }

    }
